<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR162D_4Vlqq8A6MHWTTGMmBcsj-tXds8uMxQ&usqp=CAU">
    <title>Cotações de Moedas</title>
</head>
<style>
    .logo{
        width:200px;
        margin:50px;
    }
    .title{
        font-weight: bold;
    }
    .numbers{
        margin-right:20px;
        font-size: larger;
    }
</style>
<body>
    <div id="app">
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="display-1 my-4">{{currencyName }} Hoje</h1>
                </div>
                
                <div class="row justify-content-center">                    
                    <div class="form-inline">                    
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="inputPassword2" ></label>
                            <input type="number" v-on:focus="clear()" @change="calculate(centerField)" class="form-control" id="inputPassword2" v-model="dollar" :placeholder="currencyName">
                        </div>
                        <button v-on:click.prevent="calculate()" class="btn btn-primary mb-2 btn-sm">Consultar</button>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="inputPassword2"></label>
                            <input type="number" v-on:focus="clear()" @change="calculate(centerField)" class="form-control" id="inputPassword2" v-model="real" placeholder="Real">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">  
                    <h2>Cotação de Hoje</h2>                    
                </div>
                {{cotacao(centerField)}}
                <div class="row justify-content-center">
                    <p>
                        <span class="title">Compra:</span> <span class="numbers">R${{buy}}</span> 
                        <span class="title">Venda:</span> <span class="numbers">R${{sell}}</span>
                        <span class="title">Variação:</span> <span v-if="variation > 0" class="numbers variation badge badge-success">{{variation}} % </span> <span v-if="variation < 0" class="numbers variation badge badge-danger">{{variation}} % </span>
                    
                    </p>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="currency" >Moeda</label>
                        <input list="cities" v-on:focus="clear()" onfocus="this.value='';" @change="teste(centerField, info.data.results.currencies)" class="form-control" id="currency" v-model="centerField" :placeholder="centerField">
                        <datalist id="cities">                           
                            <option v-for="item in avaliableCurrencies" :value="item" >                                       
                        </datalist>
                    </div>
                    
                </div>
                
                <div class="row justify-content-center">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item" style="border:0;" v-for="item in avaliableCurrencies" >{{item}}</li>                        
                    </ul>
                </div>
            </div>    
         
      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                centerField:'USD',
                currencyName:'Dollar',
                avaliableCurrencies:['USD','EUR','ARS','BTC'],
                currentCotation:'',
                dollar:'',
                real:'',
                result:'',
                buy:null,
                sell:null,
                variation:null,
                isHigh:true,
                isLow:false,
                info: null
            },
            mounted () {                
                axios({ method: 'GET', 'url':'https://api.hgbrasil.com/finance?format=json-cors&key=7150538f'})
                .then(response => (this.info = response))
            },
            methods:{
                calculate(cotation){       
                    this.teste(cotation, this.info.data.results.currencies)
                                 
                    if(this.dollar == '' && this.real == ''){
                        return
                    }
                    if(this.dollar != '' && this.real == ''){
                        this.real = this.dollar * this.currentCotation.buy
                        this.real = this.real.toFixed(4)
                        
                    }
                    if(this.dollar == '' && this.real != ''){
                        this.dollar = this.real / this.currentCotation.buy
                        this.dollar = this.dollar.toFixed(4)
                    }
                    if(this.dollar != '' && this.real != ''){
                        return
                    }
                },
                teste(valor, infos){
                    if(valor == '' || valor == null){                       
                        valor = 'USD'
                    }
                    const currencies = {
                        name: '',
                        USD: function() { 
                            this.name = 'Dólar'
                            return infos.USD 
                            },
                        EUR: function() {
                            this.name = 'Euro'
                            return infos.EUR 
                            },
                        ARS: function() { 
                            this.name = 'Peso Argentino'
                            return infos.ARS 
                            },
                        BTC: function() {
                            this.name = 'BitCoin'
                            return infos.BTC 
                            }
                    }
                    this.currentCotation = currencies[valor]()
                    this.currencyName = currencies.name
                    
                },
                clear(){
                    this.dollar = ''
                    this.real = ''
                },                
                cotacao(cotation){
                    if(this.info != null){
                        this.teste(cotation, this.info.data.results.currencies)
                        this.buy = this.currentCotation.buy.toFixed(4)
                        if(this.currentCotation.sell != null){
                            this.sell = this.currentCotation.sell.toFixed(4)
                        }else{
                            this.sell = '-'
                        }                        
                        this.variation = this.currentCotation.variation.toFixed(2)
                    }
                }
            }
        })
    </script>
</body>
</html>