<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR162D_4Vlqq8A6MHWTTGMmBcsj-tXds8uMxQ&usqp=CAU">
    <title>Consultar Dollar</title>
</head>
<style>
    .logo{
        width:200px;
        margin:50px;
    }
    .title{
        font-weight: bold;
    }
    .numbers{
        margin-right:20px;
        font-size: larger;
    }
</style>
<body>
    <div id="app">
            <div class="container">
                <div class="row justify-content-center">
                    <img src="images/exchange.png" class="logo" alt="exchange logo">
                </div>
                <div class="row justify-content-center">                    
                    <div class="form-inline">                    
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="inputPassword2" >$</label>
                            <input type="number" v-on:focus="clear()" class="form-control" id="inputPassword2" v-model="dollar" placeholder="Dollar">
                        </div>
                        <button v-on:click.prevent="calculate()" class="btn btn-primary mb-2">Consultar</button>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="inputPassword2">R$</label>
                            <input type="number" v-on:focus="clear()" class="form-control" id="inputPassword2" v-model="real" placeholder="Real">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">  
                    <h2>Cotação de Hoje</h2>                    
                </div>
                {{cotacao()}}
                <div class="row justify-content-center">
                    <p>
                        <span class="title">Compra:</span> <span class="numbers">R${{buy}}</span> 
                        <span class="title">Venda:</span> <span class="numbers">R${{sell}}</span>
                        <span class="title">Variação:</span> <span v-if="variation > 0" class="numbers variation badge badge-success">{{variation}} % </span> <span v-if="variation < 0" class="numbers variation badge badge-danger">{{variation}} % </span>
                    
                    </p>
                </div>
            </div>    
         
      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                dollar:'',
                real:'',
                result:'',
                buy:null,
                sell:null,
                variation:null,
                isHigh:true,
                isLow:false,
                info: null
            },
            mounted () {                
                axios({ method: 'GET', 'url':'https://api.hgbrasil.com/finance?format=json-cors&key=7150538f'})
                .then(response => (this.info = response))
            },
            methods:{
                calculate(){                    
                    if(this.dollar == '' && this.real == ''){
                        return
                    }
                    if(this.dollar != '' && this.real == ''){
                        this.real = this.dollar * this.info.data.results.currencies.USD.buy
                        this.real = this.real.toFixed(2)
                        console.log(this.real)
                    }
                    if(this.dollar == '' && this.real != ''){
                        this.dollar = this.real / this.info.data.results.currencies.USD.buy
                        this.dollar = this.dollar.toFixed(2)
                    }
                    if(this.dollar != '' && this.real != ''){
                        return
                    }
                },
                clear(){
                    this.dollar = ''
                    this.real = ''
                },
                cotacao(){
                    if(this.info != null){
                        this.buy = this.info.data.results.currencies.USD.buy.toFixed(2)
                        this.sell = this.info.data.results.currencies.USD.sell.toFixed(2)
                        this.variation = this.info.data.results.currencies.USD.variation.toFixed(2)
                    }
                }
            }
        })
    </script>
</body>
</html>